:root {
  font-family: Inter, Helvetica, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  padding: 0;
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #516559;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 17px 13px;
  text-decoration: none;
  font-size: 17px;
}

.topnav span {
  color: white;
  padding-left: 13px;
}

.topnav span:hover {
  color: black;
  cursor: pointer;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav-right {
  display: flex;
  align-items: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 1rem;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: ' ';
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1em;
  /* Change font size */
  font-size: 0.9em;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  text-align: left;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
}

tr:hover {
  background-color: #f9f9f9;
}

tr {
  background-color: #fff;
}
