body {
  margin: 0;
  padding: 0;
  font-family: 'Lexand', sans-serif;
  color: #333;
  background-color: white;
}

.container {
  margin: 0 auto;
  width: 90%;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: whitesmoke;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

}

.navbar h2 {
  margin-left: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  margin: 0 10px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: large;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

.login-modal form,
.registration-modal form {
  display: flex;
  flex-direction: column;
}

.modal h1 {
  text-align: center;
  font-size: x-large;
}

.frontphoto {
  width: 100%;
  height: 70vh; /* Use viewport height to cover the entire viewport */
  object-fit: cover;
  position: relative; /* Change position to relative */
  z-index: -1; /* Move the image behind other content */
}



.modal form {
  display: flex;
  flex-direction: column;
}

.modal form input {
  margin-bottom: 1rem;
}

.modal-input {
  --padding: 8px;

  display: flex;
  align-items: center;
  padding: var(--padding);
  margin: 0.5rem 0;
  border-radius: 28px;
  background-color: #f6f6f6;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  color: #333333;
  outline: none;
  border: none;
}

.first-section {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
}

.main-section {
  display: flex;
}

form {
  padding: 1rem;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.sidebar {
  flex: 0 0 18%;
  background-color: white;
  box-shadow: 0 10px 30px rgba(68, 74, 107, 0.3);

  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
}

.search {
  --padding: 8px;

  flex: 1 1 auto;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  margin: 0.5rem 0;
  border-radius: 28px;
  background-color: #f6f6f6;
  width: 100%;
}

.search-input {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}

.modal-button {
  --padding: 8px;

  display: inline-block;
  padding: var(--padding);
  margin: 0.5rem 0;
  border-radius: 28px;
  background-color: #333333;
  color: #f6f6f6;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
}

.modal-button:hover {
  background-color: #555555;
}

.aside-options {
  max-height: 300px;
  overflow-y: auto;
}

.foods {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.foods article {
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 1px solid black;
  flex: 1 0 20%;
  margin: 20px;
  max-width: 400px;
}

.foods article img {
  max-width: 100%;
  object-fit: cover;
}

.foods article h3 {
  padding: 1rem;
}

.foods article p {
  padding: 1rem;
}
